<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h2 class="mt-0">{{ site.about.title }}</h2>
                <hr class="primary">
                <p>{{ site.about.subtitle }}</p>
                <a href="{{ site.baseurl }}/about" class="btn btn-primary btn-xl">Mehr Erfahren...</a>                
                {% include bouncy-chevron.html link="#goals" color="text-primary" %}
            </div>
        </div>
    </div>
</section>
