<footer class="bg-secondary py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-2 offset-md-2 text-center">
                <a href="{{ site.social.facebook.link }}" class="text-light">
                    <i class="fab fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.social.facebook.name }}</p>
                </a>
            </div>
            <div class="col-md-2 offset-md-1 text-center">
                <a href="mailto:{{ site.email }}" class="text-light">
                    <i class="far fa-envelope fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Via Email</p>
                </a>
            </div>
            <div class="col-md-2 offset-md-1 text-center">
                <a href="{{ site.social.github.link }}" class="text-light">
                    <i class="fab fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.social.github.name }}</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a href="/impressum">Impressum</a>
            </div>
        </div>
    </div>
</footer>
