<nav id="mainNav" class="navbar navbar-expand-md navbar-dark navbar-default fixed-top">
    <a class="navbar-brand page-scroll" href="/">
        {% if site.brand %} <img src="{{ site.baseurl }}{{ site.brand }}" alt="Start">{% endif %}
        Start
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
            {% for nav in site.navigation %}
            <li class="nav-item">
                <a class="nav-link" href="{{ nav.link }}">{{ nav.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
