<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="mt-0">Neuigkeiten</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
          {% for post in site.posts offset: 0 limit: 4 %}
          <div class="col-lg-3 col-sm-4 mb-4">
            <article class="card shadow">
              <a href="{{ post.url | relative_url }}"><img class="rounded card-img-top" src="{{ site.baseurl }}/img/blog/{{ post.image }}" alt="{{ post.title }}"></a>
              <div class="card-body">
                <span class="text-muted">Vom {{ post.date | date: "%d. %b. %Y" }}</span>
                <h4 class="card-title"><b>{{ post.title | escape }}</b></h4>
                <p class="card-text">{{ post.content | strip_html | truncate: 100 }}</p>
                <a href="{{ post.url | relative_url }}" class="btn btn-xs btn-primary">Mehr...</a>
              </div>
            </article>
          </div>
          {% endfor %}
        </div>
        <p></p>
        <a href="{{ site.baseurl }}/news" class="btn btn-primary btn-xl">Mehr...</a>
        <p></p>
        <div class="bouncy">
            <a href="#contact" class="fas fa-chevron-down fa-4x page-scroll"></a>
        </div>
    </div>
</section>
