.btn-secondary {
    @include button-variant(white, $theme-secondary, $theme-secondary);
}

.color-secondary {
    color: $theme-secondary !important;
}

.bg-dots {
    background-image: url("../img/backgrounds/bg-dots.png");
}

#btn-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0,0,0,.6);
    width: 50px;
    height: 50px;
    text-decoration: none;
    border-radius: 50%;
    i {
        color: white;
        margin: 0;
        position: relative;
        left: 16px;
        top: 13px;
        font-size: 20px;
    }
}

.bouncy {
    text-align: center;
    margin-top: 50px;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    a {
        text-decoration: none !important;
        &.light {
            color: white !important;
        }
    }
}
