---
layout: page
---
<!-- about -->
<div class="container">
  <div class="row">
    <div class="col-md-8">
      {{ content }}
    </div>
    <div class="col-md-4 text-center bg-primary h-100" style="padding: 100px 20px">
      <div class="shadow-down mb-4">
        <img src="{{ site.url }}{{ site.baseurl }}/{{ page.image }}" alt="{{ page.alt }}" class="img-responsive rounded-lg">
        <h6 class="rounded-lg" style="background:white">{{ page.license }}</h6>
      </div>
    </div>
  </div>
</div>
<!-- /about -->
