---
layout: default
---

<header class="narrow">
    <img src="{{ site.url }}{{ site.baseurl }}/img/illustrations/sternchen_og.png" alt="" id="bg-asset-1">
    <img src="{{ site.url }}{{ site.baseurl }}/img/illustrations/uhr_og.png" alt="" id="bg-asset-2" style="z-index: 1">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Neuigkeiten</h1>
        </div>
    </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>{{ page.title }}</h2>
      <p>Von {{ page.author }} am {{ page.date | date: "%d. %b. %Y" }}</p>
      {{ content }}
    </div>
    <div class="col-md-4 text-center bg-primary h-100" style="padding: 100px 20px">
      <div class="shadow-down mb-4">
        <img src="{{ site.url }}{{ site.baseurl }}/img/blog/{{ page.image }}" alt="{{ page.alt }}" class="img-responsive rounded-lg">
        <h6 class="rounded-lg" style="background:white">{{ page.license }}</h6>
      </div>
    </div>
  </div>
  {% include share-buttons.html %}
</div>

<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="section-title">Ähnliche Stories</h2>
    </div>
    {% for post in site.posts offset:0 limit:3 %}
    <div class="col-lg-3 col-sm-4 mb-4 mb-lg-0">
      <article class="card shadow">
        <a href="{{ post.url | relative_url }}"><img class="rounded card-img-top" src="{{ site.baseurl }}/img/blog/{{ post.image }}" alt="{{ post.title }}"></a>
        <div class="card-body">
            <span class="text-muted">Vom {{ post.date | date: "%d. %b. %Y" }}</span>
            <h4 class="card-title"><b>{{ post.title | escape }}</b></h4>
            <p class="card-text">{{ post.content | strip_html | truncate: 127 }}</p>
            <a href="{{ post.url | relative_url }}" class="btn btn-xs btn-primary">Mehr...</a>
        </div>
      </article>
    </div>
    {% endfor %}
  </div>
</div>
